<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Reported Reviews</title>
  <style>
    .active-button {
      color: green;
      cursor: pointer;
    }
    .inactive-button {
      color: gray;
      cursor: not-allowed;
    }
  </style>
</head>
<body>

<h1>수강평 신고 현황</h1>

<table>
  <thead>
  <tr>
    <th>[수강평 ID]</th>
    <th>수강평 내용</th>
    <th>수강평 작성 유저id</th>
    <th>수강평 작성 유저이름</th>
    <th>수강평 총 신고횟수</th>
    <th>수강평 Status</th>

    <th>[강의 ID]</th>
    <th>강의 제목 </th>

    <th>[수강평 신고 ID]</th>
    <th>수강평 신고 내용</th>
    <th>수강평 신고 유저id</th>
    <th>수강평 신고 유저이름</th>
    <th>수강평 처리</th>
  </tr>
  </thead>

  <tbody>

  <tr th:if="${reportedReviewsPage != null}" th:each="reportedReview : ${reportedReviewsPage}">
    <td th:text="${reportedReview.reportedReviewId}"></td>
    <td th:text="${reportedReview.reportedReviewWrite}"></td>
    <td th:text="${reportedReview.reviewUserId}"></td>
    <td th:text="${reportedReview.reviewUsername}"></td>
    <td th:text="${reportedReview.reportCount}"></td>
    <td th:text="${reportedReview.reviewStatus}"></td>
    <td th:text="${reportedReview.reportedReviewCourseId}"></td>
    <td th:text="${reportedReview.reportedReviewCourseTitle}"></td>
    <td th:text="${reportedReview.reportReviewId}"></td>
    <td th:text="${reportedReview.reportReviewContent}"></td>
    <td th:text="${reportedReview.reviewReportingUserId}"></td>
    <td th:text="${reportedReview.reviewReportingUsername}"></td>

    <td>
      <form th:id="'reviewForm-' + ${reportedReview.reportedReviewId}" th:action="@{/admin/report-reviews}" method="post" onsubmit="return confirmReviewAction(event)">
        <input type="hidden" name="_method" value="patch" />
        <input type="hidden" name="reviewId" th:value="${reportedReview.reportedReviewId}" />
        <input type="hidden" name="currentPage" th:value="${currentPage}" />
        <button type="submit" name="action" value="active" class="active-button">수강평 재노출</button>
        <button type="submit" name="action" value="inactive" class="inactive-button">수강평 숨김</button>
      </form>
    </td>

    <script>
      function confirmReviewAction(event) {
        var message = '';
        var action = event.submitter.value;
        if (action === 'active') {
          message = '해당 수강평을 재노출하시겠습니까?';
        } else if (action === 'inactive') {
          message = '해당 수강평을 숨기시겠습니까?';
        }
        return confirm(message);
      }
    </script>

  </tr>
  </tbody>
</table>

<div th:if="${reportedReviewsPage != null and !reportedReviewsPage.isEmpty() and reportedReviewsPage.totalPages > 1}">
  <ul class="pagination">
    <li th:classappend="${reportedReviewsPage.first} ? 'disabled'">
      <a class="page-link" th:href="@{|?page=0|}">처음</a>
    </li>

    <li th:if="${reportedReviewsPage.hasPrevious()} or !reportedReviewsPage.first" class="enabled">
      <a class="page-link" th:href="@{|?page=${reportedReviewsPage.number - 1}|}">이전</a>
    </li>

    <li th:if="${reportedReviewsPage.number > 2}">
      <span class="page-link">...</span>
    </li>

    <li th:each="page: ${#numbers.sequence(reportedReviewsPage.number - 2, reportedReviewsPage.number + 2)}"
        th:if="${page >= 0 and page < reportedReviewsPage.totalPages}"
        th:classappend="${page == reportedReviewsPage.number} ? 'active'"
        class="page-item">
      <a th:text="${page + 1}" class="page-link" th:href="@{|?page=${page}|}"></a>
    </li>

    <li th:if="${reportedReviewsPage.number < reportedReviewsPage.totalPages - 3}">
      <span class="page-link">...</span>
    </li>

    <li th:if="${reportedReviewsPage.hasNext()} or !reportedReviewsPage.last" class="enabled">
      <a class="page-link" th:href="@{|?page=${reportedReviewsPage.number + 1}|}">다음</a>
    </li>

    <li th:class="${reportedReviewsPage.last ? 'disabled' : ''}">
      <a th:href="@{${url}(page=${reportedReviewsPage.totalPages - 1})}">마지막</a>
    </li>
  </ul>
</div>
</body>
</html>
