<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Courses</title>
</head>
<body>
<div th:if="${hasMentorAuthority}">
  <a th:href="@{/courses/new}">강의 생성</a>
</div>
<h1>강의 리스트</h1>
<ul>
  <li th:each="course : ${courses}">
    <strong>강의 제목:</strong> <span th:text="${course.title}"></span><br>
    <strong>강의 소개:</strong> <span th:text="${course.description}"></span><br>
    <strong>수강료:</strong> <span th:text="${course.price}"></span><br>
    <a th:href="@{/courses/{id}(id=${course.id})}">강의의 세부사항을 확인하세요!</a>
    <hr>
  </li>
  <!-- Display error message div -->
  <div th:if="${errorMessage}" class="error-message">
    <span th:text="${errorMessage}"></span>
    <button onclick="closeError()">확인</button>
  </div>
  <script>
    function closeError() {
      var errorMessage = document.querySelector(".error-message");
      errorMessage.remove();
    }
  </script>
</ul>
</body>
</html>
