<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Courses</title>
</head>
<body>
<div th:if="${hasMentorAuthority}">
  <a th:href="@{/courses/new}">강의 생성</a>
</div>
<h1>강의 리스트</h1>
<ul>
  <li th:each="course : ${courses}">
    <strong>강의 제목:</strong> <span th:text="${course.title}"></span><br>
    <strong>강의 소개:</strong> <span th:text="${course.description}"></span><br>
    <strong>수강료:</strong> <span th:text="${course.price}"></span><br>
    <a th:href="@{/courses/{id}(id=${course.id})}">강의의 세부사항을 확인하세요!</a>
    <hr>
  </li>
  <!-- Display error message div -->
  <div th:if="${errorMessage}" class="error-message">
    <span th:text="${errorMessage}"></span>
    <button onclick="closeError()">확인</button>
  </div>
  <script>
    function closeError() {
      var errorMessage = document.querySelector(".error-message");
      errorMessage.remove();
    }
  </script>
</ul>
<div th:if="${courses != null && !courses.isEmpty()}">
<!--  <a th:if="${currentPage > 0}" th:href="@{/courses(page=${currentPage - 1})}">이전 페이지</a>-->
<!--  <a th:if="${currentPage < totalPages - 1}" th:href="@{/courses(page=${currentPage + 1})}">다음 페이지</a>  -->

<!--  <a th:if="${courses.hasPrevious}" th:href="@{/courses(page=${currentPage - 1})}">이전 페이지</a>-->
<!--  <a th:if="${courses.hasNext}" th:href="@{/courses(page=${currentPage + 1})}">다음 페이지</a>-->

  <ul class="pagination">
    <li th:classappend="${courses.first} ? 'disabled'">
      <a class="page-link" th:href="@{|?page=0|}">처음</a>
    </li>
    <li th:if="${courses.hasPrevious()} or !courses.first" class="enabled">
      <a class="page-link" th:href="@{|?page=${courses.number - 1}|}">이전</a>
    </li>
    <li th:if="${courses.number > 2}">
      <span class="page-link">...</span>
    </li>
    <li th:each="page: ${#numbers.sequence(courses.number - 2, courses.number + 2)}"
        th:if="${page >= 0 and page < courses.totalPages}"
        th:classappend="${page == courses.number} ? 'active'"
        class="page-item">
      <a th:text="${page + 1}" class="page-link" th:href="@{|?page=${page}|}"></a>
    </li>
    <li th:if="${courses.number < courses.totalPages - 3}">
      <span class="page-link">...</span>
    </li>
    <li th:if="${courses.hasNext()} or !courses.last" class="enabled">
      <a class="page-link" th:href="@{|?page=${courses.number + 1}|}">다음</a>
    </li>
    <li th:classappend="${courses.last} ? 'disabled'">
      <a class="page-link" th:href="@{|?page=${courses.totalPages - 1}|}">마지막</a>
    </li>
  </ul>

</div>
</body>
</html>
