<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create Course</title>
</head>
<body>
<h1>신규 강의 생성</h1>
<form th:object="${courseCreateDto}" th:action="@{/courses/new}" method="post">

  <label for="title">강의 제목:</label>
  <input type="text" id="title" th:field="*{title}" required>
  <br>

  <label for="typeName">강의 타입:</label>
  <input type="text" id="typeName" th:field="*{typeName}" required>
  <br>

  <label for="description">강의 소개:</label>
  <input type="text" id="description" th:field="*{description}" required>
  <br>

  <label for="price">수강료:</label>
  <input type="number" id="price" th:field="*{price}" required>
  <br>

  <!-- Video information section -->
  <label for="videoTitle">강의영상 제목 :</label>
  <input type="text" id="videoTitle" th:field="*{videoList[0].title}">
  <br>

  <label for="videoLength">강의영상 재생시간(초):</label>
  <input type="number" id="videoLength" th:field="*{videoList[0].totalLength}">
  <br>

  <label for="videoSource">강의영상 저장 URL:</label>
  <input type="text" id="videoSource" th:field="*{videoList[0].source}">
  <br>

  <button type="submit">강의 생성</button>
</form>
</body>
</html>