<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Course Review</title>
</head>
<body>

<h1>수강평 수정</h1>

<form th:action="@{/courses/{courseId}/reviews/{reviewId}/edit(courseId=${courseId}, reviewId=${reviewId})}"
      method="post"
      th:object="${reviewPatchDto}">
  <input type="hidden" name="_method" value="patch" />

  <div>
    <label for="rate">평점:</label>
    <input type="number" id="rate" th:field="*{rate}" />
  </div>

  <div>
    <label for="reviewWrite">수강평:</label>
    <textarea id="reviewWrite" th:field="*{reviewWrite}" ></textarea>
  </div>

  <div>
    <label for="advantage">강의 장점:</label>
    <select id="advantage" th:field="*{advantage}" >
      <option th:each="advantage : ${T(com.launcher.inflaunch.enum_status.Advantage).values()}"
              th:value="${advantage}" th:text="${advantage.getAdv()}"></option>
    </select>
  </div>

  <div>
    <label for="disadvantage">강의 단점:</label>
    <select id="disadvantage" th:field="*{disadvantage}" >
      <option th:each="disadvantage : ${T(com.launcher.inflaunch.enum_status.Disadvantage).values()}"
              th:value="${disadvantage}" th:text="${disadvantage.getDis()}"></option>
    </select>
  </div>

  <button type="submit">수강평 수정</button>
</form>

</body>
</html>
