<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Reported Reviews</title>
  <style>
    .active-button {
      color: green;
      cursor: pointer;
    }
    .inactive-button {
      color: gray;
      cursor: not-allowed;
    }
  </style>
</head>
<body>

<h1>수강평 신고 현황</h1>

<table>
  <thead>
  <tr>
    <th>수강평 ID</th>
    <th>수강평 내용</th>
    <th>수강평 신고 횟수</th>
    <th>수강평 Status</th>
    <th>수강평 신고 정보</th>
    <th>수강평 처리</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="reportedReview : ${reportedReviews}">
    <td th:text="${reportedReview.id}"></td>
    <td th:text="${reportedReview.reviewWrite}"></td>
    <td th:text="${reportedReview.reportCount}"></td>
    <td th:text="${reportedReview.reviewStatus}"></td>
    <td>
      <ul>
        <li th:each="reportReview : ${reportedReview.reportReviews}">
          수강평 신고 ID: <span th:text="${reportReview.id}"></span> |
          신고 사유: <span th:text="${reportReview.content}"></span>
        </li>
      </ul>
    </td>
    <td>
      <form th:action="@{/admin/delete-review/{reviewId}(reviewId=${reportedReview.id})}" method="post">
        <button type="submit" class="active-button">수강평 삭제</button>
      </form>
      <form th:if="${reportedReview.reviewStatus != 'ACTIVE'}"
            th:action="@{/admin/activate-review/{reviewId}(reviewId=${reportedReview.id})}" method="post">
        <button type="submit" class="active-button">수강평 재노출</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>
